"*":
  core:
    disabledPackages: [
      "welcome"
    ]
  editor:
    fontSize: 12
    invisibles: {}
  "exception-reporting":
    userId: "9242ee2f-5a6e-30cb-921b-370670c6a837"
  "git-plus": {}
  "go-plus":
    goInstallation: "/usr/local/opt/go/libexec/bin/go"
    goPath: "/Users/splug/go"
  welcome:
    showOnStartup: false
".hashicorp.interpolation.text":
  editor:
    showIndentGuide: true
    showInvisibles: true
