"*":
  "exception-reporting":
    userId: "28faf869-7e63-a4e1-8173-3ec640b14353"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "vim-mode"
    ]
  editor:
    invisibles: {}
    fontFamily: "Ubuntu Mono"
    scrollPastEnd: true
    showIndentGuide: true
    lineHeight: 1.2
    showInvisibles: true
    softWrap: true
    useShadowDOM: false
    zoomFontWhenCtrlScrolling: true
  minimap:
    plugins:
      "find-and-replace": true
    absoluteMode: true
  "go-plus":
    goPath: "~/code"
    goInstallation: "/usr/local/bin/go"
  "one-dark-ui": {}
